<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
</head>
<table align="center" width=96%  >
	<th><a href ="./problem.html" >PROBLEMS</a></th>
	<th><a href ="./status.html">STATUS</a></th>
	<th>CONTEST</th>
</table>
<br>
<title>Problem {{detail.problem_id}}. -- {{detail.title}}</title>
<center>
	<h2>{{detail.title}}</h2>
	<b>Time Limit: </b>{{detail.time_limit}} Sec&nbsp;&nbsp;<b>Memory Limit: </b>{{detail.memory_limit}} MB<br>
	<b>Submissions: </b>{{detail.submit}}&nbsp;&nbsp;<b>Solved: </b>{{detail.accepted}}<br>
</center>
	<h2>Description</h2>
	<p>{{detail.description}}</p>
	<h2>Input</h2>
	<p>{{detail.input}}</p>
	<h2>Output</h2>
	<p>{{detail.output}}</p>
	<h2>Sample Input</h2>
	<pre>{{detail.sample_input}}</pre>
	<h2>Sample Output</h2>
	<pre>{{detail.sample_input}}</pre>
	<h2>HINT</h2>
	<p>{{detail.hint}}</p>
	<h2>Source</h2>
	<p>{{detail.source}}</p>
	<center>
		[<a href='problemsubmit&{{detail.problem_id}}'>Submit</a>]
		[<a href='problemstatus'>Status</a>]
	</center><br>
	<a href="javascript:history.go(-1)"><font color=red>Back</font></a>
	<hr>
	<center>
	<p>
		All Copyright Reserved 2003-2011 HUST ACMICPC TEAM<br>
	</p>
	</center>
